* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

/* css for navbar */
.navcontent li a {
    font-size: 20px;
    color: rgb(33, 32, 32);
    text-decoration: none;
    transition: all 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    box-shadow: 20px, 20px black;
}

.navcontent {
    list-style: none;
    display: flex;
    padding: 20px;
}

.navcontent li {
    display: inline-block;
    padding: 0 20px;
}

.navcontent li a:hover {
    color: #695343;
}

.logo {
    margin-right: 630px;
    height: 110px;
}

.navcontent .activeNav a {
    color:#6F4E37;
}

@media only screen and (max-width: 600px) {
    nav ul {
        position: absolute;
        left:280px;
    }

    .navcontent li {
        display: block;
    }
}

/* css for footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:baseline;
    margin-top: 50px;
    width: 100%;
    font-weight: 200;
    background-color: #695343;
    text-align: left;
    padding: 34px 0;
    color:rgba(255, 255, 255, 0.649);
    font-weight: 100;
}

.logoFooter {
    height: 80px;
    width: 80px;
}

.footer a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.649);
}

.footer a:hover{
    color:#28292b;
}

.footer ul {
    list-style-type: none;
}

.footer li {
    margin-bottom: 8%;
}

.storeInfo h4 {
    margin: 6% 0;
}

.storeInfo p {
    font-size: 14px;
    margin-bottom: 2%;
}

.storeLinks h3 {
    margin-bottom: 20%;
}

.usefulLinks h3 {
    margin-bottom: 16%;
}

.subscription h3{
    margin-bottom: 8%;
}

.subscription p{
    margin-bottom: 3%;
}

input[type=email] {
    padding: 8px 18px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid transparent;
    outline: none;
}

.subBtn {
    text-decoration: none;
    border: 1px solid #6F4E37;
    border-radius: 5px;
    background-color: white;
    font-size: 12px;
    padding: 9px 18px;
    color: black;
}

.subBtn:hover {
    color: white;
    background-color: #6F4E37;
    transition: .3s;
    cursor: pointer;
}

/* landing section */
.container {
    display: flex;
    margin-top: 140px;
}

.containerBody {
    width: 570px;
    margin-left: 120px;
    text-align: left;
}

.containerBody h2 {
    font-size: 70px;
    margin-bottom: 20px;
}

.tasteBtn a{
    text-decoration: none;
    border: 1px solid #6F4E37;
    border-radius: 22px;
    background-color: white;
    font-size: 16px;
    padding: 12px 18px;
    color: black;
}

.tasteBtn a:hover {
    color: white;
    background-color: #6F4E37;
    transition: .3s;
}

.containerBody p {
    margin-bottom: 6px;
    font-size: 20px;
}

.mainImg {
    width: 723px;
    height: 420px;
}

.mainImg img {
    height: 100%;
    width: 100%;
}

/* classics section */
.classicSection {
    padding-top: 80px;
    color:#6F4E37;
}

.classicItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.classics {
    height: 320px;
    width: 300px;
    padding: 20px 25px;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classics img {
    height: 200px;
    width: 250px;
    cursor: pointer;
    transition: .3s all;
}

.classics img:hover {
    transform: scale(1.05);
}

.classics h3 {
    margin-top: 20px;
    margin-bottom: 12px;
    color: black;
}

.classics p {
    width: 220px;
    font-size: 15px;
    line-height: 25px;
}

/* menu */
.menuTitle {
    text-align: center;
    padding: 12px 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 55px 0;
}

.card {
    width: 340px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img:hover {
    opacity: 0.7;
    transition: .3s;
}

.productImage img {
    height: 400px;
    width: 100%;
}

.productInfo {
    text-align: left;
    margin: 12px 12px;
}

.productInfo .productName {
    color: #28292b;
    font-weight: bold;
}

.productInfo .price {
    font-size: 15px;
    color: #28292b;
}

.deletedPrice {
    color: #a1a1a1;
}

.viewMoreContainer {
    text-align: center;
}

.viewMoreBtn {
    position: inherit;
    text-decoration: none;
    border: 1px solid #6F4E37;
    border-radius: 22px;
    background-color: white;
    font-size: 14px;
    padding: 12px 18px;
    color: black;
}

.viewMoreBtn:hover {
    color: white;
    background-color: #6F4E37;
    transition: .3s;
    cursor: pointer;
}

/* info section */
.infoImg {
    padding-left: 120px;
}

.infoImg img {
    width: 565px;
    height: 651px;
}

.infoTab {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 30px;
}

.infoTitle:hover {
    border-style: groove;
    border-color: #6F4E37;
    border-width: 0 0 2px 0;
}

.infoTitle.activeTitle {
    border-style: groove;
    border-color: #6F4E37;
    border-width: 0 0 2px 0;
}

.infoContent {
    display: none;
}

.infoContent.activeContent {
    display: block;
}

/* faq section */
.faqs {
    max-width: 500px;
    margin-top: 50px;
}

.faq {
    margin-bottom: 25px;
    border: 1px solid #6F4E37;
}

.ques {
    background-color: #6F4E37;
    color: white;
    width: 100%;
    cursor: pointer;
    border: none;
    font-size: 18px;
    padding: 16px 18px;
    display: flex;
    justify-content: space-between;
}

.ques:hover {
    background-color: #B19470;
    transition: .3s;
}

.answer p {
    font-size: 15px;
    padding-top: 18px;
    padding-left: 12px;
    background-color: rgba(255, 255, 255, 0.69);
    width: 480px;
}

.icon {
    transition: transform .3s;
}

.icon.active {
    transform: rotate(-180deg);
}

.answer {
    max-height: 0;
    overflow: hidden;
}

.answer.active {
    max-height: fit-content;
}

.faqImg {
    width: 700px;
    height: 621px;
}

.faqImg img {
    height: 100%;
    width: 100%;
}

/* review section */
#review {
    padding: 80px 0;
}

.reviewContainer {
    font-size: 26px;
    max-width: 1240px;
    padding: 0 60px;
    margin-left: 150px;
}

@media (max-width: 1440px) {
    #review {
        padding: 70px 0;
    }
}

#review .reviewSlider {
    padding: 60px 0;
}

@media (max-width: 500px) {
    #review .reviewSlider {
        height: 450px;
    }
}

.reviewSlide {
    width: 600px;
    height: 280px;
    position: relative;
    background-color: #6F4E37;
    margin-bottom: 30px;
}

@media (max-width: 500px) {
    .reviewSlide {
        width: 280px;
        height: 360px;
    }
}

.reviewContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding: 30px 50px 50px 30px;
    text-align: center; 
}

.reviewContent p {
    margin-bottom: 30px;
}

.reviewContent h4 {
    margin-bottom: 50px;
}

.reviewBtn {
    border: none;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.reviewBtn img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.reviewBtn.activeReview {
    width: 100px;
    height: 100px;
}

.reviewSlider-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviewSlider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: #6F4E37;
}

/* gallery section */
.galleryVid {
    display: flex;
    justify-content: space-evenly;
}

/* team section */
.teamSection {
    margin-bottom: 120px;
}

.teamContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 55px 0;
}

.members {
    position: relative;
    height: 370px;
}

.members img {
    width: 370px;
    height: 370px;
}

.overlay {
    position: absolute;
    top: 70%;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(44.8deg, rgba(255, 136, 102, 0.67) -53.1%, rgba(255, 221, 136, 0.28) 49%);
}

.members:hover .overlay {
    opacity: 1;
}

.overlay h3{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 2%;
    left: 5%;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column-reverse;
    }
    .mainImg img{
        margin-left: 40px;
    }
    .containerBody {
        margin-top: 170px;
        flex-wrap: wrap;
    }
    .containerBody h2 {
        padding-bottom: 24px;
    }
    .containerBody p {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .tasteBtn a {
        font-size: 36px;
    }
}

